# Django
SECRET_KEY=django-insecure-pon-aqui-tu-clave-generada
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de datos
DATABASE_URL=

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=tu-email@sena.edu.co
EMAIL_HOST_PASSWORD=tu-password-app

# Celery / Redis
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# OpenAI
OPENAI_API_KEY=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

# Producción (reserva)
USE_S3=False
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=